@model PCartWeb.Models.DriverDetailsModel

@{
    ViewBag.Title = "ViewProfileDriver";
}

<head>
    <link rel="stylesheet" href="~/Content/css/customStyle.css">
</head>


<div class="container" style="margin-bottom: 50px;">
    <h2 style="margin-top: 50px">View Profile </h2>

    <div style="margin-top: 20px; background-color: white; padding: 50px; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputfirstName">First Name</label>
                    <input type="text" class="form-control" id="inputfirstName" value="@Model.Firstname" disabled>
                </div><!--Label-->
                <div class="form-group col-md-6">
                    <label for="inputlastName">Last Name</label>
                    <input type="text" class="form-control" id="inputlastName" value="@Model.Lastname" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputfirstName">Image</label>
                    <img src="@Url.Content("~/Images/"+Model.Image)" width="250" height="250" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputfirstName">Driver's  License</label>
                    <img src="@Url.Content("~/Images/"+Model.Driver_License)" width="250" height="250" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputfirstName">Contact</label>
                    <input type="text" class="form-control" id="inputfirstName" value="@Model.Contact" disabled>
                </div><!--Label-->
                <div class="form-group col-md-4">
                    <label for="inputlastName">Address</label>
                    <input type="text" class="form-control" id="inputlastName" value="@Model.Address" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputlastName">Gender</label>
                    <input type="text" class="form-control" id="inputlastName" value="@Model.Gender" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputfirstName">Birthday</label>
                    <input type="text" class="form-control" id="inputfirstName" value="@Model.Bdate" disabled>
                </div><!--Label-->
                <div class="form-group col-md-4">
                    <label for="inputlastName">Status</label>
                    <input type="text" class="form-control" id="inputlastName" value="@Model.CStatus" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputlastName">Plate Number</label>
                    <input type="text" class="form-control" id="inputlastName" value="@Model.PlateNum" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputAddress">Created</label>
                    <input type="text" class="form-control" id="inputAddress" value="@Model.Created_at" disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputGender">Updated</label>
                    <input type="text" class="form-control" id="lastName" value="@Model.Updated_at" disabled>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputRole">Available</label><br />
                    @Html.DisplayFor(model => model.IsAvailable)
                </div>
                <div class="form-group col-md-2">
                    <label for="dateCreated">On Duty</label><br />
                    @Html.DisplayFor(model => model.IsOnDuty)
                </div>
            </div>

            <div>
                @Html.ActionLink("Edit", "EditDriverProfile", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>   

<script>
    function ShowEdit() {
        document.getElementById("lessorrequire").style.display = "block";
    }
</script>